
  /* подключил Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


.navbar-menu-header{
    width: 100%;
    text-align: center;
    border: 0;
    
}

.navbar-menu{
    display: inline-flex;
    border: 0;
    
}
li.navbar-menu-elements:last-child{
    padding-left: 50px;
    
}
.navbar-menu-elements{
    padding-left: 72px;
    padding-top: 25.5px;
    padding-bottom: 25.5px;
    border: 0;
}
.navbar-menu-links{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #FF0000;
    font-size: 17px;
    letter-spacing: 2.7px;
    

}
.photo-and-description{
    width: 100%;
    display: inline-block;
    text-align: center;
}
img{
    
    width: 100%;
 }
.description{
    padding-right: 67.5px;
    padding-left: 67.5px;
   
}

h2{
    margin-top: 45px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 22px; 
    text-transform:uppercase;
    line-height: 27px;
    letter-spacing: 3.3px;
    color: #373737;
}

.description-article-first-text{
    margin-top: 38px;
    padding-top: 0;
}
h3{
    
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}
.description-article-second-text{
    margin-top: 28px;
    
}
.button-link{
    margin-top: 66px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    display: inline-block;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #FF0000;
    border-radius: 4px;
    width: 191px;
    padding-top: 20px;
    padding-bottom: 19px;
    text-decoration: none;
    margin-bottom: 42px;
}
footer{
    
   
    
    text-align: right;
    
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: inline-block;
    
    margin-bottom: 29px;
    letter-spacing: 2.4px;
    width: 100%;
    color: #373737; 
}
.copyright{
    margin-top: 40px;
    padding-right: 105px;
    
}
